<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Финансовый учет для бизнеса</title>
    <link rel="stylesheet" href="static/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="static/slick/slick.css">
    <link rel="stylesheet" href="static/slick/slick-theme.css">
    <link rel="stylesheet" href="static/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/tooplate-infinite-loop.css" />
<!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

  </head>
  <body>    
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#infinite">Домой</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#whatwedo">О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#testimonials">Таблицы</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#gallery">Шаблоны</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#contact">Контакты</a>
              </li>                    
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Финансовый учет для бизнеса</h2>
            <p class="tm-hero-subtitle">
              учет финансов в google таблицах
              <br>удобно и наглядно
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
          <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <section id="whatwedo" class="tm-section-pad-top">
      
      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Чем мы занимаемся?</h2>
                        <p class="mb-4 tm-intro-text">
                          Мы помогаем бизнесу производить финансовый учет, разрабатывая автоматизированные и наглядные таблицы. Вы можете как заказать индивидуальную таблицу, так и купить уже готовый шаблон финансового учета. Сделаем проще Ваше ведение бизнеса - <a href="#contact">Оставьте заявку</a>.</p>
                    </div>
                </div>

            </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                    <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Аналитика финансов</h2>
                        <p class="mb-4 tm-intro-text">
                            Весь финансовый расчет производится автоматически - Вам остается только вносить операции и смотреть аналитику</p>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Техническая поддержка</h2>
                        <p class="mb-4 tm-intro-text">
                         После выполнения заказа поддерживаем таблицу и вносим правки, если в Вашем бизнесе что-то изменилось</p>
                    </div>
                </div>

            </div><!-- second row -->
            
            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Безопасность</h2>
                        <p class="mb-4 tm-intro-text">
                      Вы можете гибко настраивать доступ к таблице, например чтобы доступ к статистике был только у руководителей бизнеса</p>
                          
                          <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Узнать больше</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-users text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Работа в команде</h2>
                        <p class="mb-4 tm-intro-text">
                          Заполнять таблицу финансового учета может неограниченное число пользователей за раз.
                          <div class="tm-continue">
                            <a href="#contact" class="tm-intro-text tm-btn-primary">Написать нам</a>
                        </div>
                    </div>
                </div>

            </div><!-- third row -->

        </div>
      
    </section>
    
    <section id="testimonials" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-testimonials-content" style = "background-color: rgba(0,0,0,0.4); border-radius: 30px">
        <div class="row ">
          <div class="col-lg-12 tm-content-box">
            <h2 class="text-white text-center mb-4 tm-section-title">Таблицы</h2>
            <p class="mx-auto tm-section-desc text-center" style = "font-size: 85%">
               Таблицы делаются конкретно под Вас - каждая из них уникальна, чтобы закрыть все потребности бизнеса. Чтобы заказать таблицу заполните <a style="color: #d90101; font-weight: bold" href = "#contact">форму</a> ниже, или напишите нам в <a style="color: #d90101; font-weight: bold" href = "https://wa.me/+79264773140">WhatsApp</a>
              </p>
              <p class="mx-auto tm-section-desc text-center" style = "font-size: 150%; margin-top: 35px">
               Примеры наших клиентов:
              </p>
            <div class="mx-auto tm-gallery-container tm-gallery-container-2">
              <div class="tm-testimonials-carousel">
                <figure class="tm-testimonial-item">
                    <p class="mx-auto tm-section-desc text-center " style = "font-size: 150%; margin-bottom: 20px">Art-rio</p>
                  <img src="static/img/art-rio-logo.jpg" alt="Image" class="mx-auto d-block img-fluid">
                  <blockquote>Особенностью индивидуальной таблицы для строительной компании Art-rio стал уклон в самостоятельность каждого заказа как проекта. Результатом стала <strong>таблица, в которой можно видеть все</strong> по конкретному заказу - от места строительтсва, до мелких расходов на материалы.</blockquote>
                </figure>
                 <figure class="tm-testimonial-item">
                    <p class="mx-auto tm-section-desc text-center " style = "font-size: 150%; margin-bottom: 20px">IT-Школа Кодиум</p>
                  <img src="static/img/codium-logo.jpg" alt="Image" class="mx-auto d-block img-fluid">
                  <blockquote>Школе информатики и математики требовалась таблица, в которой можно отмечать группы учеников, их посещаемость и оплату курсов. Особенностью таблицы стала <strong>модифицированная система проектов</strong>, что позволило вести учет клиентов по группам-классам</blockquote>
                </figure>
                 <figure class="tm-testimonial-item">
                    <p class="mx-auto tm-section-desc text-center " style = "font-size: 150%; margin-bottom: 20px">ИП Дорел</p>
                  <img src="static/img/testimonial-img-02.jpg" alt="Image" class="mx-auto d-block img-fluid">
                  <blockquote>Индивидуальный предприниматель, владеющий несколькими бизнес-проектами, которому требовалась таблица, содержащая в себе как отчет каждого проекта, так и отчет за все проекты сразу. Итоговое решение включало в себя <strong>комплексный анализ расходов</strong>, на который применялась система фильтров: по датам, проектам, платежам и тд.</blockquote>
                </figure>
                <figure class="tm-testimonial-item">
                    <p class="mx-auto tm-section-desc text-center " style = "font-size: 150%; margin-bottom: 20px">Art-rio</p>
                  <img src="static/img/art-rio-logo.jpg" alt="Image" class="mx-auto d-block img-fluid">
                  <blockquote>Особенностью индивидуальной таблицы для строительной компании Art-rio стал уклон в самостоятельность каждого заказа как проекта. Результатом стала <strong>таблица, в которой можно видеть все</strong> по конкретному заказу - от места строительтсва, до мелких расходов на материалы.</blockquote>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-bg-overlay"></div>
    </section>
    
    <section id="gallery" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Шаблоны</h2>
              <p class="mb-4 tm-intro-text">
                Универсальные шаблоны, которые подходят почти каждому бизнесу. <br>Нажав на изображение, Вы можете ознакомиться с соответствующим шаблоном
              </p>
          </div>            
        </div>
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                      <a href="https://docs.google.com/spreadsheets/d/1hYAiDHO-CDT0ef5fuEEq8ZwcxVPD4QhlkjENsuf4jfo/edit?gid=1432725500#gid=1432725500" target="_blank">
                          <h3 style="font-size:15px" class = "text-center">ДДС + ОПУ</h3>
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/DDS.jpg" alt="Image 3" class="img-fluid">
                          <figcaption>
                            <h2><i>ДДС + ОПУ</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                         <a href="https://docs.google.com/spreadsheets/d/1Y01eigrtJJXdfEc_CsB5FhkjOaEyIkeDMOFSel2m0Mc/edit?gid=1432725500#gid=1432725500" target="_blank">
                             <h3 style="font-size:15px" class = "text-center">ДДС + ОПУ + Проекты</h3>
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/DDS_OPU_projects.jpg" alt="Image 3" class="img-fluid">
                          <figcaption>
                            <h2><i>ДДС + ОПУ + Проекты</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="">
                          <h3 style="font-size:15px" class = "text-center">ДДС + ОПУ + Проекты + Дашборд</h3>
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/DDS_OPU_projects_dash.jpg" alt="Image 4" class="img-fluid">
                          <figcaption>
                            <h2><i>ДДС + ОПУ + Проекты + Дашборд</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                        <a href="https://docs.google.com/spreadsheets/d/1YR1V5bSFjAYyO99yKka1HRrwLjOvKoqOERLv36ymJcY/edit?gid=1027486836#gid=1027486836" target="_blank">
                            <h3 style="font-size:15px" class = "text-center">Фин учет по потокам</h3>
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/fin_uchet.jpg" alt="Image 4" class="img-fluid">
                          <figcaption>
                            <h2><i>Фин учет по потокам</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                       <a href="https://docs.google.com/spreadsheets/d/1Vo2dRwDMR3bmXCVKD4BELB9XILdN-WGiupey9LEqsH8/edit?gid=1027486836#gid=1027486836" target="_blank">
                           <h3 style="font-size:15px" class = "text-center">Фин учет по потокам + Дашборд</h3>
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/fin_uchet_dashbord.jpg" alt="Image 4" class="img-fluid">
                          <figcaption>
                            <h2><i>Фин учет по потокам + Дашборд</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                </div>                
            </div>        
          </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
    
      <div class="container tm-container-contact">
        
        <div class="row">
            
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Закажите таблицу сейчас</h2>
                <p class="mb-5">
                  Пара сообщений, онлайн консультация - и вот финансовый учет Вашей мечты уже готов к использованию!
                </p><br>
            </div>
            
            <div class="col-sm-12 col-md-6">
              <form action="" method="post">
                  {% for msg in get_flashed_messages() %}
                  <div class = "flash text-center my-1">{{msg}}</div>
                  {% endfor %}
                <input id="name" name="name" type="text"  pattern = "^[А-Яа-яЁё\s]{0,30}" placeholder="Имя" class="tm-input" required />
                <input id="telephone" name="telephone" type="tel" placeholder="Ваш телефон" class="tm-input" required />
                <button type="submit" class="btn tm-btn-submit">Отправить</button>
              </form>
            </div>
            
            <div class="col-sm-12 col-md-6">

                <div class="contact-item">
                  <a rel="nofollow" href="https://t.me/CodiumIT" class="item-link">
                      <i class="far fa-2x fa-comment mr-4"></i>
                      <span class="mb-0">Наш Telegram</span>
                  </a>              
                </div>

                <div class="contact-item">
                  <a rel="nofollow" href="https://wa.me/+79264773140" class="item-link">
                      <i class="far fa-2x fa-comment mr-4"></i>
                      <span class="mb-0">Наш Whatsapp</span>
                  </a>
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="mailto:codium@bk.ru" class="item-link">
                      <i class="far fa-2x fa-envelope mr-4"></i>
                      <span class="mb-0">codium@bk.ru</span>
                  </a>              
                </div>

                <div class="contact-item">
                  <a rel="nofollow" href="tel:89264773140" class="item-link">
                      <i class="fas fa-2x fa-phone-square mr-4"></i>
                      <span class="mb-0">+7(926) 477-31-40</span>
                  </a>              
                </div>
                
                <div class="contact-item">&nbsp;</div>
            
            </div>
            
            
        </div><!-- row ending -->
        
      </div>


    </section>
    
    <script src="static/js/jquery-1.9.1.min.js"></script>
    <script src="static/slick/slick.min.js"></script>
    <script src="static/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="static/js/easing.min.js"></script>
    <script src="static/js/jquery.singlePageNav.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        
        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        background_image_parallax_2($("#testimonials"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
          'easing': 'easeInOutExpo',
          'speed': 600
        });        
        
        // Add smooth scrolling to all links

        // Pop up


        $('.tm-testimonials-carousel').slick({
          dots: true,
          prevArrow: false,
          nextArrow: false,
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2
              }
            }, 
            {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1
              }                 
            }
          ]
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: true,
          slidesToShow: 4,
          slidesToScroll: 1,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>